/* General CSS Styling Sheet for Most Desktop Dimensions */

html {
    scroll-behavior: smooth;
}

header {
    display: block;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0px;
}

.home.header-section {
    position: relative !important;
    padding: 0px;
    z-index: 1;
    height: 150px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.header-section {
    position: fixed;
    padding: 0px;
    z-index: 1;
    height: 150px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.header-section .nav {
    min-height: 70px;
    padding: 30 60 30 60;
    box-shadow: 0 0px 4px 0 rgba(0,0,0,.2);
    background-color: #fff;
}

.header-section .nav .site-logo {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.2;
    float: left;
    transform: translateY(50%);
}

.header-section .nav .right-nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    float: right;
    transform: translateY(30%);
}

.header-section .nav li {
    letter-spacing: 1px;
}

.header-section .nav li:hover a {
    color: #610CE9;
}

.header-section .nav li a.active {
    color: #610CE9 !important;
}

.home-section {
    position: relative;
    top: 10%;
    text-align: left;
}

.home-section .entry-text-left {
    padding: 30 60 30 60;
    align-self: center;
    width: 50%;
    display: inline-block;
}

.home-section .entry-text-left h1 {
    font-weight: 700;
    font-size: 60px;
}

.home-section .entry-text-left p {
    font-weight: 500;
    font-size: 40px;
}

.learn-button {
    background-color: white;
    border: 3px solid #610CE9;
    border-radius: 7px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.select-price-button {
    margin: auto;
    background-color: white;
    border: 3px solid #610CE9;
    border-radius: 7px;
    color: #000000;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.image {
    display:inline-block;
    height:auto;
    float:right;
    padding-right:10%;
    padding-top:5%;
}

.filler {
    height: 500px;
}

.filler-children {
    height: 0px;
}

.about-section {
    position: relative;
    top: 30%;
    text-align: left;
}

.home-section .entry-text-left {
    align-self: center;
    display: inline-block;
}

.about-section .entry-text-center h1 {
    font-weight: 700;
    padding: 30 60 30 60;
    font-size: 60px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.explain .entry-text-center h1 {
    font-size: 42px;
}

.explain .entry-text-center p {
    font-size: 24px;
}


.about-section .entry-text-center p {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin: auto;
}

.image-page {
    display: block;
}

.step-row {
    width: 70%;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.step-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.steps {
    box-shadow: 0 10px 30px -5px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 40px;
    margin:20px;
    min-height: 230px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

.steps .number {
    background: linear-gradient(
                -45deg
                , #1391a5, #274685);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    display: block;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.explain {
    width: 70%;
    margin: auto;
}

.entry-text-center {
    text-align: center;
}

.filler-plan {
    height: 250px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #610CE9;
    height: auto;
    width: 100%;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-weight: 500;
    font-size: 15px;
}

.hamburger {
    display: none;
}

.p-menu1 {
    display:none;
}

@media only screen and (max-width: 1300px) {
    .image {
        display: none;
    }
}
